<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="krombox_DownloadableLinksSync" frontName="krombox_DownloadableLinksSync">
            <module name="Krombox_DownloadableLinksSync" before="Magento_Backend" />
        </route>
    </router>
</config>
