<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="krombox" translate="label" sortOrder="100">
            <label>Krombox</label>
        </tab>
        <section id="krombox_downloadabalelinkssync" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Downloadable Links Sync</label>
            <tab>krombox</tab>
            <resource>Krombox_DownloadableLinksSync::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_links_on_product_save" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sync links on save</label>
                    <comment>Sync links right after on save button submit. Only new/edited links will be processed.
                        If you would like to process all links click sync links button on edit product page</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="chunk_size" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Chunk size</label>
                    <comment>The amount of items per queue message to process</comment>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
